# Supabase Cloud PostgreSQL Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Auth POS Terminal Service Account
VITE_SUPABASE_POS_EMAIL=
VITE_SUPABASE_POS_PASSWORD=

# Server Runtime Configuration
NODE_ENV=production
PORT=3000
